<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <connectionStrings>
    <add name="modelEntities" connectionString="metadata=res://*/Model.RestDataBase.csdl|res://*/Model.RestDataBase.ssdl|res://*/Model.RestDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=model;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TeastRestEntities" connectionString="metadata=res://*/Model.RestBDAlergenos.csdl|res://*/Model.RestBDAlergenos.ssdl|res://*/Model.RestBDAlergenos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRIDIUM-STUDIO\SRVSQL01;initial catalog=TeastRest;persist security info=True;user id=sa;password=cc1k88fxyy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApiService" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="true" maxBufferSize="1048576" maxReceivedMessageSize="1048576">
          <readerQuotas maxStringContentLength="1048576" maxArrayLength="1048576"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiService" contract="Local.Rest.ApiSoap.Interfaces.ISoapService" name="BasicHttpBinding_IApiService"/>
    </client>

    <services>
      <service behaviorConfiguration="WSMiddlewareServiceBehavior" name="Local.Rest.ApiSoap.Servicios.SoapService">
        <endpoint address="" binding="basicHttpBinding" contract="Local.Rest.ApiSoap.Interfaces.ISoapService"/>
        <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" endpointConfiguration="adhocDiscoveryEndpointConfiguration"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://*:80/api/ApiSoap" />
          </baseAddresses>
        </host>
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WSMiddlewareServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <standardEndpoints>
    <udpDiscoveryEndpoint>
      <!-- Specify the discovery protocol version and maxResponseDelay -->
      <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11" maxResponseDelay="00:00:00.600"/>
    </udpDiscoveryEndpoint>
    </standardEndpoints>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
</configuration>
